@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model PaginatedList<Product>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Products
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Products</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div>
                <table class="table table-responsive table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Unit price</th>
                            <th>Promotion price</th>
                            <th>Unit</th>
                            <th>New</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {

                            <tr>
                                <td>@Html.Raw(i + 1)</td>
                                <td class="w-25 h-25">
                                    <img class="img-fluid img-thumbnail" src="~/image/product/@Model[i].Image" />
                                </td>
                                <td>@Model[i].Name</td>
                                <td>@Model[i].TypeProduct.Name</td>
                                <td>@Model[i].Description</td>
                                <td>@Model[i].UnitPrice</td>
                                <td>@Model[i].PromotionPrice</td>
                                <td>@Model[i].Unit</td>
                                @if (@Model[i].New.Equals(1))
                                {
                                    <td>Mới</td>
                                }
                                else
                                {
                                    <td>Cũ</td>
                                }
                                <td>
                                    <a class="btn btn-primary" 
                                       asp-action="Edit"
                                       asp-route-id="@Model[i].ID">Sửa</a>
                                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model[i].ID">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <div class="float-right">
                    <a class="btn btn-primary @prevDisabled"
                       asp-action="Index" asp-controller="Product" asp-area="Admin"
                       asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
                    <a class="btn btn-primary @nextDisabled"
                       asp-action="Index" asp-controller="Product" asp-area="Admin"
                       asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
                </div>
            </div>
        </div>
    </section>
</div>

